In [1]:
import pandas as pd
import glob
import os

In [2]:
# Lista todos os arquivos csv contidos na pasta do dataset eved
filelist = glob.glob(os.path.join("./eVED/", '*.csv'))
dataframes = []

# Itera por todos os arquivos, lendo-os para memória e adicionando em uma lista de dataframes
for filename in sorted(filelist): 
    print (str(filename))
    dataframes.append(pd.read_csv(filename))

# Concatena todos os dataframes lidos
data = pd.concat(dataframes)
data.shape

./eVED/eVED_171101_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171108_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171115_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171122_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171129_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171206_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171213_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171220_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_171227_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180103_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180110_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180117_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180124_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180131_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180207_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180214_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180221_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180228_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180307_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180314_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180321_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180328_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180404_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180411_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180418_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180425_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180502_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180509_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180516_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180523_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180530_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180606_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180613_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180620_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180627_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180704_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180711_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180718_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180725_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180801_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180808_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180815_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180822_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180829_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180905_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180912_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180919_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_180926_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181003_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181010_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181017_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181024_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181031_week.csv

/tmp/ipykernel_36741/4215241819.py:8: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes.append(pd.read_csv(filename))

./eVED/eVED_181107_week.csv

(22436808, 36)

In [3]:
data.columns

Index(['DayNum', 'VehId', 'Trip', 'Timestamp(ms)', 'Latitude[deg]',
       'Longitude[deg]', 'Vehicle Speed[km/h]', 'MAF[g/sec]',
       'Engine RPM[RPM]', 'Absolute Load[%]', 'OAT[DegC]', 'Fuel Rate[L/hr]',
       'Air Conditioning Power[kW]', 'Air Conditioning Power[Watts]',
       'Heater Power[Watts]', 'HV Battery Current[A]', 'HV Battery SOC[%]',
       'HV Battery Voltage[V]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]', 'Elevation Raw[m]',
       'Elevation Smoothed[m]', 'Gradient', 'Energy_Consumption',
       'Matchted Latitude[deg]', 'Matched Longitude[deg]', 'Match Type',
       'Class of Speed Limit', 'Speed Limit[km/h]',
       'Speed Limit with Direction[km/h]', 'Intersection', 'Bus Stops',
       'Focus Points', 'Focus Points;'],
      dtype='object')

In [4]:
data['VehId'].isna().sum()

0

In [5]:
veh10 = data[data['VehId'] == 10]
veh10.head()

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Matchted Latitude[deg],Matched Longitude[deg],Match Type,Class of Speed Limit,Speed Limit[km/h],Speed Limit with Direction[km/h],Intersection,Bus Stops,Focus Points,Focus Points;
416,1.719774,10.0,1558.0,0.0,42.277066,-83.763404,53.590000,NaN,NaN,NaN,...,42.276966,-83.763366,0,0.0,48,48.0,NaN,NaN,NaN,NaN
417,1.719774,10.0,1558.0,200.0,42.277066,-83.763404,51.980000,NaN,NaN,NaN,...,42.276966,-83.763366,1,0.0,48,48.0,NaN,NaN,NaN,NaN
418,1.719774,10.0,1558.0,1200.0,42.277066,-83.763404,50.369999,NaN,NaN,NaN,...,42.276966,-83.763366,1,0.0,48,48.0,NaN,NaN,NaN,NaN
419,1.719774,10.0,1558.0,1500.0,42.277066,-83.763404,50.369999,NaN,NaN,NaN,...,42.276966,-83.763366,1,0.0,48,48.0,NaN,NaN,NaN,NaN
420,1.719774,10.0,1558.0,2300.0,42.277066,-83.763404,49.799999,NaN,NaN,NaN,...,42.276966,-83.763366,1,0.0,48,48.0,NaN,NaN,NaN,NaN

In [6]:
veh455 = data[data['VehId'] == 455]
veh455.head()

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Matchted Latitude[deg],Matched Longitude[deg],Match Type,Class of Speed Limit,Speed Limit[km/h],Speed Limit with Direction[km/h],Intersection,Bus Stops,Focus Points,Focus Points;
261575,4.698313,455.0,554.0,0.0,42.243933,-83.743826,54.570000,NaN,NaN,NaN,...,42.243695,-83.743814,0,0.0,64.0,64.0,NaN,NaN,crossing,NaN
261576,4.698313,455.0,554.0,1100.0,42.243933,-83.743826,49.969997,NaN,NaN,NaN,...,42.243695,-83.743814,1,0.0,64.0,64.0,NaN,NaN,crossing,NaN
261577,4.698313,455.0,554.0,1600.0,42.243933,-83.743826,49.969997,NaN,NaN,NaN,...,42.243695,-83.743814,1,0.0,64.0,64.0,NaN,NaN,crossing,NaN
261578,4.698313,455.0,554.0,2100.0,42.243933,-83.743826,47.680000,NaN,NaN,NaN,...,42.243695,-83.743814,1,0.0,64.0,64.0,NaN,NaN,crossing,NaN
261579,4.698313,455.0,554.0,3200.0,42.243933,-83.743826,45.989998,NaN,NaN,NaN,...,42.243695,-83.743814,1,0.0,64.0,64.0,NaN,NaN,crossing,NaN

In [7]:
veh541 = data[data['VehId'] == 541]
veh541.head()

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Matchted Latitude[deg],Matched Longitude[deg],Match Type,Class of Speed Limit,Speed Limit[km/h],Speed Limit with Direction[km/h],Intersection,Bus Stops,Focus Points,Focus Points;
97663,121.911711,541.0,672.0,0.0,42.284911,-83.801881,51.619999,NaN,NaN,NaN,...,42.284952,-83.801881,0,0.0,72,72.0,NaN,NaN,NaN,NaN
97664,121.911711,541.0,672.0,600.0,42.284911,-83.801881,52.250000,NaN,NaN,NaN,...,42.284952,-83.801881,1,0.0,72,72.0,NaN,NaN,NaN,NaN
97665,121.911711,541.0,672.0,800.0,42.284911,-83.801881,52.250000,NaN,NaN,NaN,...,42.284952,-83.801881,1,0.0,72,72.0,NaN,NaN,NaN,NaN
97666,121.911711,541.0,672.0,1600.0,42.284911,-83.801881,52.919998,NaN,NaN,NaN,...,42.284952,-83.801881,1,0.0,72,72.0,NaN,NaN,NaN,NaN
97667,121.911711,541.0,672.0,2400.0,42.284911,-83.801881,52.919998,NaN,NaN,NaN,...,42.284952,-83.801881,1,0.0,72,72.0,NaN,NaN,NaN,NaN

In [8]:
print(veh10.shape)
print(veh455.shape)
print(veh541.shape)

(167257, 36)
(303824, 36)
(5227, 36)

In [11]:
veh10.to_csv("./Agda/veh10.csv", index=False)
veh455.to_csv("./Agda/veh455.csv", index=False)
veh541.to_csv("./Agda/veh541.csv", index=False)

In [12]:
veh10_filtered = veh10[['VehId', 'Timestamp(ms)', 'Vehicle Speed[km/h]', 'HV Battery Current[A]', 'HV Battery SOC[%]', 'HV Battery Voltage[V]', 'Energy_Consumption']].head()
veh10_filtered

,VehId,Timestamp(ms),Vehicle Speed[km/h],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Energy_Consumption
416,10.0,0.0,53.590000,-21.5,96.341469,386.0,0.002305
417,10.0,200.0,51.980000,-21.5,96.341469,386.0,0.002305
418,10.0,1200.0,50.369999,-21.5,96.341469,386.0,0.002305
419,10.0,1500.0,50.369999,23.5,96.341469,390.5,-0.002549
420,10.0,2300.0,49.799999,23.5,96.341469,390.5,-0.002549

In [14]:
veh455_filtered = veh455[['VehId', 'Timestamp(ms)', 'Vehicle Speed[km/h]', 'HV Battery Current[A]', 'HV Battery SOC[%]', 'HV Battery Voltage[V]', 'Energy_Consumption']].head()
veh455_filtered

,VehId,Timestamp(ms),Vehicle Speed[km/h],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Energy_Consumption
261575,455.0,0.0,54.570000,-27.5,48.902443,371.0,0.002834
261576,455.0,1100.0,49.969997,-27.5,48.902443,371.0,0.002834
261577,455.0,1600.0,49.969997,22.5,48.902443,376.0,-0.002350
261578,455.0,2100.0,47.680000,22.5,48.902443,376.0,-0.002350
261579,455.0,3200.0,45.989998,22.5,48.902443,376.0,-0.002350

In [15]:
veh541_filtered = veh541[['VehId', 'Timestamp(ms)', 'Vehicle Speed[km/h]', 'HV Battery Current[A]', 'HV Battery SOC[%]', 'HV Battery Voltage[V]', 'Energy_Consumption']].head()
veh541_filtered

,VehId,Timestamp(ms),Vehicle Speed[km/h],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Energy_Consumption
97663,541.0,0.0,51.619999,-14.0,71.341469,377.0,0.001466
97664,541.0,600.0,52.250000,-14.0,71.341469,377.0,0.001466
97665,541.0,800.0,52.250000,-17.5,71.341469,377.0,0.001833
97666,541.0,1600.0,52.919998,-17.5,71.341469,377.0,0.001833
97667,541.0,2400.0,52.919998,-17.5,71.341469,378.0,0.001837

In [16]:
veh10_filtered.to_csv("./Daniel/veh10.csv", index=False)
veh455_filtered.to_csv("./Daniel/veh455.csv", index=False)
veh541_filtered.to_csv("./Daniel/veh541.csv", index=False)