# Read Datasets

In [13]:
import pandas as pd

SEED = 42

In [4]:
comb = pd.read_csv("./data/combustion_clean.csv", sep=",")
comb = comb.drop(columns=['Unnamed: 0'])
comb.head()

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
0,26.0,14.509804,13.938316,150.638715
1,27.0,16.078432,7.000541,145.353899
2,27.0,16.862745,7.000541,145.353899
3,29.0,16.862745,13.678993,172.692135
4,31.0,17.254902,14.091927,169.936145

In [5]:
elet = pd.read_csv("./data/electric_clean.csv", sep=",")
elet = elet.drop(columns=['Unnamed: 0'])
elet.head()

   Velocity [km/h]  Throttle [%]  Motor Torque [Nm]  CO2_emission_g_per_km
0             3.47         20.26               6.38              14.977837
1             5.80         22.40              19.86              14.693897
2             5.88         22.40              16.76              13.213593
3             5.94         22.73              14.76              11.965069
4             6.00         22.90              11.24              11.093950

# Correlation Analysis

## Full Dataset

### Pearson

In [7]:
comb.corr()

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.580236,0.502271,-0.474237
Absolute Throttle Position B(%),0.580236,1.000000,0.353897,0.215958
Torque(Nm),0.502271,0.353897,1.000000,-0.141758
CO2_emission_g_per_km,-0.474237,0.215958,-0.141758,1.000000

In [8]:
elet.corr()

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.353170,-0.133496,-0.306274
Throttle [%],0.353170,1.000000,0.573191,0.464167
Motor Torque [Nm],-0.133496,0.573191,1.000000,0.922422
CO2_emission_g_per_km,-0.306274,0.464167,0.922422,1.000000

### Kendall

In [9]:
comb.corr(method='kendall')

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.282852,0.299243,-0.297521
Absolute Throttle Position B(%),0.282852,1.000000,0.193377,0.360410
Torque(Nm),0.299243,0.193377,1.000000,-0.117440
CO2_emission_g_per_km,-0.297521,0.360410,-0.117440,1.000000

In [10]:
elet.corr(method='kendall')

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.251964,-0.068684,-0.196245
Throttle [%],0.251964,1.000000,0.485094,0.393321
Motor Torque [Nm],-0.068684,0.485094,1.000000,0.809081
CO2_emission_g_per_km,-0.196245,0.393321,0.809081,1.000000

### Spearman

In [11]:
comb.corr(method='spearman')

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.408685,0.418760,-0.401324
Absolute Throttle Position B(%),0.408685,1.000000,0.289765,0.396998
Torque(Nm),0.418760,0.289765,1.000000,-0.165757
CO2_emission_g_per_km,-0.401324,0.396998,-0.165757,1.000000

In [12]:
elet.corr(method='spearman')

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.365816,-0.101036,-0.292737
Throttle [%],0.365816,1.000000,0.660531,0.549567
Motor Torque [Nm],-0.101036,0.660531,1.000000,0.924270
CO2_emission_g_per_km,-0.292737,0.549567,0.924270,1.000000

## Sampled Dataset

In [15]:
n = min([len(comb), len(elet)])
sample_comb = comb.sample(n=n, random_state=42)
sample_elet = elet.sample(n=n, random_state=42)

### Combustão (Não muda nada)

In [16]:
sample_comb.corr()

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.580236,0.502271,-0.474237
Absolute Throttle Position B(%),0.580236,1.000000,0.353897,0.215958
Torque(Nm),0.502271,0.353897,1.000000,-0.141758
CO2_emission_g_per_km,-0.474237,0.215958,-0.141758,1.000000

In [18]:
sample_comb.corr(method='kendall')

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.282852,0.299243,-0.297521
Absolute Throttle Position B(%),0.282852,1.000000,0.193377,0.360410
Torque(Nm),0.299243,0.193377,1.000000,-0.117440
CO2_emission_g_per_km,-0.297521,0.360410,-0.117440,1.000000

In [19]:
sample_comb.corr(method='spearman')

,Speed (OBD)(km/h),Absolute Throttle Position B(%),Torque(Nm),CO2_emission_g_per_km
Speed (OBD)(km/h),1.000000,0.408685,0.418760,-0.401324
Absolute Throttle Position B(%),0.408685,1.000000,0.289765,0.396998
Torque(Nm),0.418760,0.289765,1.000000,-0.165757
CO2_emission_g_per_km,-0.401324,0.396998,-0.165757,1.000000

### Elétrico (Diminuiu a Correlação)

In [20]:
sample_elet.corr()

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.324101,-0.131906,-0.298982
Throttle [%],0.324101,1.000000,0.568689,0.473417
Motor Torque [Nm],-0.131906,0.568689,1.000000,0.920844
CO2_emission_g_per_km,-0.298982,0.473417,0.920844,1.000000

In [21]:
sample_elet.corr(method='kendall')

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.233000,-0.067569,-0.194805
Throttle [%],0.233000,1.000000,0.487427,0.396101
Motor Torque [Nm],-0.067569,0.487427,1.000000,0.806464
CO2_emission_g_per_km,-0.194805,0.396101,0.806464,1.000000

In [22]:
sample_elet.corr(method='spearman')

,Velocity [km/h],Throttle [%],Motor Torque [Nm],CO2_emission_g_per_km
Velocity [km/h],1.000000,0.339343,-0.099885,-0.291159
Throttle [%],0.339343,1.000000,0.662725,0.554469
Motor Torque [Nm],-0.099885,0.662725,1.000000,0.919717
CO2_emission_g_per_km,-0.291159,0.554469,0.919717,1.000000